body {
    padding: 0;
    margin: 0;
}

#container {
    color: white;
    background-color: rgb(8, 8, 16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh;
    overflow: hidden;
}

#fightsvg {
    height: 60px;
    width: 60px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.choices {
    flex-wrap: nowrap;
    /* box-sizing: border-box; */
    justify-content: space-evenly;
    top: 10px;
    position: sticky;
    border: 3px solid rgba(28, 85, 182, 0.725);
    background-color: rgba(28, 84, 182, 0.394);
    border-radius: 6px;
    padding: 30px;
    max-width: 600px;
    width: 80%;
    max-height: 180px;
    height: 80%;
}

.choices > * {
    flex-direction: column;
}

.choices img {
    height: 75px;
}
.scores {
    max-width: 350px;
    margin: 0;
    padding: 0;
}

.all-scores {
    max-width: 320px;
    flex-direction: column;
}

.opponent-scores,
.player-scores {
    height: 60px;
}

.score {
    border: 3px solid rgba(129, 129, 129, 0.725);
    border-radius: 6px;
    list-style-type: none;
}

.score img {
    height: 50px;
    width: auto;
}

.win {
    border: 3px solid rgba(15, 184, 0, 0.725);
    background-color: rgba(9, 215, 37, 0.394);
}

.lose {
    border: 3px solid rgb(182, 28, 28);
    background-color: rgba(201, 0, 0, 0.668);
}

.draw {
    border: 3px solid rgba(193, 164, 20, 0.859);
    background-color: rgb(190, 172, 8);
}

.buttons {
    position: sticky;
    bottom: 20px;
    flex-wrap: nowrap;
}
button {
    border: none;
    margin: 10px;
    background-color: rgba(28, 84, 182, 0.394);
    border-radius: 5px;
}
button:hover {
    background-color: rgba(28, 85, 182, 0.725);
    padding: 8px;
    margin: 0 6px;
}
button:hover img {
    height: 74px;
}

.buttons img {
    height: 70px;
}

.play-again-button {
    display: flex;
    gap: 16px;
    padding: 16px;
    align-items: center;
    color: white;
}

.play-again-button:hover {
    display: flex;
    margin: 10px;
    gap: 16px;
    padding: 16px;
    align-items: center;
    color: white;
}
.play-again-button:hover img {
    height: 70px;
}
